<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-grid
          #grid
          [dataSource]="userData"
          allowPaging="true"
          gridLines="Both"
          (created)="createdUsers()"
          (dataBound)="dataBound()"
          (actionBegin)="actionBegin($event)"
          [toolbar]="toolbarAccount"
          [pageSettings]="pageSettings"
          allowExcelExport="true"
          (toolbarClick)="toolbarClick($event)"
          [editSettings]="editSettings"
        >
          <e-columns>
            <e-column field="ID" width="50" isPrimaryKey="true" headerText="ID">
              <ng-template #template let-data>
                {{ NO(data.index) }}
              </ng-template>
              <ng-template #editTemplate let-data> </ng-template>
            </e-column>
            <e-column field="Username" headerText="Username">
              <ng-template #headerTemplate let-data>
                USERNAME
              </ng-template>
            </e-column>
            <e-column field="EmployeeID" width="120" headerText="Account">
              <ng-template #headerTemplate let-data>
                EMPLOYEE
              </ng-template>
            </e-column>
            <e-column
              field="Password"
              textAlign="Center"
              isPrimaryKey="true"
              headerText="Password"
            >
              <ng-template #headerTemplate let-data>
                PASSWORD
              </ng-template>
              <ng-template #template let-data>
                ********************
              </ng-template>
              <ng-template #editTemplate let-data>
                <div class="e-input-group">
                  <input type="password" [(ngModel)]="password" class="e-input" />
                </div>
              </ng-template>
            </e-column>
            <e-column field="Email" headerText="Email">
              <ng-template #template let-data>
                {{ data.Email }}
                <ejs-tooltip [content]="tooltips(data.Email)">
                </ejs-tooltip>
              </ng-template>
            </e-column>
            <e-column field="RoleName" width="100" headerText="Role">
              <ng-template #headerTemplate let-data> ROLE </ng-template>
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist
                  #roleDropdownlist
                  [dataSource]="roleData"
                  [value]="data.RoleName"
                  [fields]="fieldsRole"
                  [allowFiltering]="true"
                  popupWidth='150px'
                  (change)="onChangeRole($event, data)"
                >
                </ejs-dropdownlist>
              </ng-template>
            </e-column>

            <e-column
              field=""
              isPrimaryKey="true"
              textAlign="Center"
              headerText="Status"
            >
              <ng-template #headerTemplate let-data>
                STATUS
              </ng-template>
              <ng-template #template let-data>
                <ng-container *ngIf="data.Status == true; else elseTemplate">
                <button type="button" (click)="blockAccount(data)" class="btn btn-pill btn-block btn-info"><i class="fa fa-unlock" aria-hidden="true"></i> ABLE</button>
                </ng-container>
                <ng-template #elseTemplate>
                  <button type="button" (click)="blockAccount(data)" class="btn btn-pill btn-block btn-danger"><i class="fa fa-lock" aria-hidden="true"></i> UNABLE</button>
                </ng-template>
              </ng-template>
              <ng-template #editTemplate let-data> </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
</div>
