<!-- <section class="content">
  <div class="container-fluid">
  </div>
</section> -->
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">List Histories Notifications</h5>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div  class="card-body table-responsive p-0">
      <ejs-grid #grid [searchSettings]="searchSettings"  [toolbar]='toolbarOptions' [dataSource]='data' [allowPaging]='true' [pageSettings]='pageSettings' [editSettings]='editSettings'>
        <e-columns>

          <e-column field='ID' headerText='#' width='10' textAlign='Left' isPrimaryKey='true' >
            <ng-template #template let-data>
              {{data.index}}
            </ng-template>
          </e-column>
          <e-column field='OC' headerText='Notification' width='150' textAlign='Left' >

            <ng-template #template let-data>

              <!-- Comment -->
              <ng-container *ngIf="data.Action === 'Comment'; else elseTemplate">
                <a (click)="gettask(data.Link)" class="historynotifi"   style="cursor: pointer">
                  <p> <i class="far fa-check-circle"></i> {{(data.SenderID == userid ? "You" : data.Sender)}} mentioned {{(data.RecipientID == userid ? "You" : data.Recipient)}} in {{data.Title}}</p>
                  <p><b>Content:</b> {{data.Content}} </p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>

              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- Task -->
              <ng-container *ngIf="data.Action === 'Task'; else elseTemplate">
                <a (click)="gettask(data.Link)" class="historynotifi"   style="cursor: pointer">
                  <p> <i class="far fa-check-circle"></i> {{(data.SenderID == userid ? "You" : data.Sender)}} mentioned {{(data.RecipientID == userid ? "You" : data.Recipient)}} in {{data.Title}}</p>
                  <p><b>Content:</b> {{data.Content}} </p>
                  <p><b>Due Date: </b>{{data.Deadline | dateAgo}}</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- Done -->
              <ng-container *ngIf="data.Action === 'Done'; else elseTemplate">
                <a (click)="gettask(data.Link)" class="historynotifi"   style="cursor: pointer">
                  <p> <i class="far fa-check-circle"></i> {{(data.SenderID == userid ? "You" : data.Sender)}} updated the status in  {{data.Title}}</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- Approval -->
              <ng-container *ngIf="data.Action === 'Approval'; else elseTemplate">
                <a (click)="gettask(data.Link)" class="historynotifi"   style="cursor: pointer">
                  <p> <i class="far fa-check-circle"></i> {{(data.SenderID == userid ? "You" : data.Sender)}} approved in  {{data.Title}}</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- LateOnTask -->
              <ng-container *ngIf="data.Action === 'LateOnTask'; else elseTemplate">
                <a class="historynotifi"  style="cursor: pointer">
                  <p><i class="far fa-check-circle"></i> From System</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- Remark -->
              <ng-container *ngIf="data.Action === 'Remark'; else elseTemplate">
                <a class="historynotifi" (click)="gettask(data.Link)"  style="cursor: pointer">
                  <p><i class="far fa-check-circle"></i>The account {{data.Sender}} has changed Remark the task {{data.TaskName}}</p>
                  <p><b>Content:</b> {{data.Content}} </p>
                  <p><b>KPI:</b> {{data.KPIName}} </p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- Upload -->
              <ng-container *ngIf="data.Action === 'Upload'; else elseTemplate">
                <a class="historynotifi"   style="cursor: pointer">
                  <p><i class="far fa-check-circle"></i> {{data.SenderID == userid ? "You" : "The account " + data.Sender}} has uploaded KPIs data successfully!</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>

              <!-- LateOnUploadData -->
              <ng-container *ngIf="data.Action === 'LateOnUploadData'; else elseTemplate">
                <a class="historynotifi"   style="cursor: pointer">
                  <p><i class="far fa-check-circle"></i> From System</p>
                  <p><i class="far fa-clock"></i>{{data.CreateTime | dateAgo}} </p>
                </a>
              </ng-container>
              <ng-template #elseTemplate>

              </ng-template>


            </ng-template>

          </e-column>

        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
