.btn-info {
    color: #fff;
    background-color: #28a745;
    border-radius: 35px;
    border: 1px solid rgba(21, 87, 36, 0.75);                                                                                        
}
.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-radius: 35px;
    border: 1px solid rgba(40, 167, 69, 0.75);    
}