<!-- <section class="content">
  <div class="container-fluid">
  </div>
</section> -->
<div>

  <!-- action-plan -->
  <div class="row">
    <div class="col-md-12">
      <div class="card " id="boxActionPlan">
        <div class="card-header with-border kpi-name">
          <h3 class="card-title float-left font-weight-bold" style="margin-right: 10px;">
            {{'Actionplan' | translate}}&#32;&#32;
          </h3>
          <div class="box-tools float-right toolActionplan">
            <div class="btn-group" >
              <button type="button" (click)="Finished()" value="true" class="btn btn-success btn-sm button-nocolor Finished" >
                <i class="fa fa-check"></i> Finished
              </button>
            </div>
            <div class="btn-group">
              <button  type="button" (click)="Notfinished()" value="false" class="btn btn-danger btn-sm button-nocolor NotFinished">
                <i class="fa fa-close"></i> Not Finished
              </button>
            </div>
          </div>
          <div class="form-group">
            <select (change)="actionplan($event)" class="form-control role" style="width:200px">
              <option value="Mandd">N/A</option>
              <option value="Man">Manager</option>
              <option value="Own">Owners</option>
              <option value="Aud">Auditor</option>
              <option value="Pic">PIC</option>
              <option value="Upd">Updater</option>
              <option value="Spo">Sponsor</option>
              <option value="Par">Participant</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <ejs-grid #grid [allowResizing]='true' [gridLines]="lines" [searchSettings]="searchSettings"   [toolbar]='toolbarOptions' [dataSource]='data' [allowPaging]="true" [pageSettings]='pageSettings2' >
            <e-columns>
              <e-column field='ID' headerText='#' width='70' textAlign='Left' isPrimaryKey='true' >
                <ng-template #template let-data>
                  {{data.index}}
                </ng-template>
              </e-column>
              <e-column field='OC' headerText=""  textAlign='Left' >
                <ng-template #headerTemplate  let-data>
                  <span>{{'OC2' | translate}}</span>
                </ng-template>
              </e-column>
              <e-column field='KPIName' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"KpiName" | translate}}</span>
                </ng-template>

                <ng-template #template let-data>
                  <a style="text-decoration: none ; cursor:pointer ;color:green" (click)="gettask(data)" >{{data.KPIName}}</a>
                </ng-template>

              </e-column>
              <e-column field='TaskName' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"TaskName" | translate}}</span>
                </ng-template>
              </e-column>
              <e-column field='PIC' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"PIC"| translate}}</span>
                </ng-template>
              </e-column>
              <e-column field='Auditor' headerText='Auditor'  textAlign='Center' ></e-column>
              <e-column field='Description' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"Description" | translate}}</span>
                </ng-template>
              </e-column>
              <e-column field='DueDate' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"Duedate" | translate}}</span>
                </ng-template>
              </e-column>
              <e-column field='UpdateSheduleDate' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"Update_chedule_date" | translate}}</span>
                </ng-template>
                <ng-template #template let-data>
                  {{
                    (data.UpdateSheduleDate || "").length === 0 ? "#N/A" : data.UpdateSheduleDate
                  }}
                </ng-template>

              </e-column>
              <e-column field='ActualFinishDate' headerText=''  textAlign='Center' >
                <ng-template #headerTemplate let-data>
                  <span>{{"Actual_finish_date" | translate}}</span>
                </ng-template>
                <ng-template #template let-data>
                  {{
                    (data.ActualFinishDate || "").length === 0 ? "#N/A" : data.ActualFinishDate
                  }}
                </ng-template>

              </e-column>
              <e-column field='Status' headerText='Finished'  textAlign='Center' >
                <ng-template #template let-data>
                  <ng-container *ngIf="data.Status; else elseTemplate">
                    <span class="badge bg-green">Yes</span>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <span class="badge bg-red">No</span>
                  </ng-template>
                </ng-template>
              </e-column>
              <e-column field='Approved' headerText=''  textAlign='Center' >

                <ng-template #headerTemplate let-data>
                  <span>{{"Approve" | translate}}</span>
                </ng-template>
                <ng-template #template let-data>
                  <ng-container *ngIf="data.Approved; else elseTemplate">
                    <span class="badge bg-green">Yes</span>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <span class="badge bg-red">No</span>
                  </ng-template>

                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>

        </div>
        <div class="card-footer clearfix">
          <small class="text-danger">*{{'Note' | translate}}.</small>
        </div>
      </div>
    </div>
  </div>

  <!-- todolist-uploader -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="boxActionPlan">
        <div class="card-header with-border kpi-name">
          <h3 style="margin-right: 10px;" class="card-title float-left font-weight-bold">
            {{'ToDoList' | translate}}&#32;&#32;
          </h3>
          <div class="card-tool">
            <button type="button" data-toggle="modal" (click)="openUpoad(upload)" class="btn float-right btn-primary btn-upload">
              <i class="fa fa-upload"></i> {{'UploadFile'| translate}}
            </button>
          </div>
          <div class="form-group">
            <select (change)="kpiupload($event)" class="form-control task" style="width:200px">
              <option value>N/A</option>
              <option value="Upd">Updater</option>
            </select>
          </div>
        </div>

        <div class="card-body">
            <ejs-grid #gridupdate [allowResizing]='true' [gridLines]="lines" [searchSettings]="searchSettings" [toolbar]='toolbarOptions' [dataSource]='dataToDoList' [allowPaging]='true' [pageSettings]='pageSettings' >
              <e-columns>
                <e-column field='ID' headerText='#' width='70' textAlign='Left' isPrimaryKey='true' >
                  <ng-template #template let-data>
                    {{data.index}}
                  </ng-template>
                </e-column>
                <e-column field='OC' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"OC2" | translate}}</span>
                  </ng-template>
                </e-column>
                <e-column field='KPIName' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"KpiName" | translate}}</span>
                  </ng-template>
                </e-column>
                <e-column field='Kind' headerText='Kind'  textAlign='Center' ></e-column>
                <e-column field='' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"Status_weekly" | translate}}</span>
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.StateDataW == true && data.StateW == true" class="badge bg-green">on time</span>
                    <span *ngIf="data.StateDataW == true && data.StateW == false" class="badge bg-red">late</span>
                    <span *ngIf="data.StateDataW == false && data.StateW == false" class="badge bg-gray">N/A</span>
                    <span *ngIf="data.StateDataW == false && data.StateW == true" class="badge bg-gray">N/A</span>
                  </ng-template>
                </e-column>
                <e-column field='' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"Status_monthly"| translate}}</span>
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.StateDataM == true && data.StateM == true" class="badge bg-green">on time</span>
                    <span *ngIf="data.StateDataM == true && data.StateM == false" class="badge bg-red">late</span>
                    <span *ngIf="data.StateDataM == false && data.StateM == false" class="badge bg-gray">N/A</span>
                    <span *ngIf="data.StateDataM == false && data.StateM == true" class="badge bg-gray">N/A</span>
                  </ng-template>
                </e-column>
                <e-column field='' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"Status_quaterly" | translate}}</span>
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.StateDataQ == true && data.StateQ == true" class="badge bg-green">on time</span>
                    <span *ngIf="data.StateDataQ == true && data.StateQ == false" class="badge bg-red">late</span>
                    <span *ngIf="data.StateDataQ == false && data.StateQ == false" class="badge bg-gray">N/A</span>
                    <span *ngIf="data.StateDataQ == false && data.StateQ == true" class="badge bg-gray">N/A</span>
                  </ng-template>
                </e-column>
                <e-column field='' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"Status_halfyear" | translate}}</span>
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.StateDataH == true && data.StateH == true" class="badge bg-green">on time</span>
                    <span *ngIf="data.StateDataH == true && data.StateH == false" class="badge bg-red">late</span>
                    <span *ngIf="data.StateDataH == false && data.StateH == false" class="badge bg-gray">N/A</span>
                    <span *ngIf="data.StateDataH == false && data.StateH == true" class="badge bg-gray">N/A</span>
                  </ng-template>
                </e-column>
                <e-column field='' headerText=''  textAlign='Center' >
                  <ng-template #headerTemplate let-data>
                    <span>{{"Status_yearly" | translate}}</span>
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.StateDataY == true && data.StateY == true" class="badge bg-green">on time</span>
                    <span *ngIf="data.StateDataY == true && data.StateY == false" class="badge bg-red">late</span>
                    <span *ngIf="data.StateDataY == false && data.StateY == false" class="badge bg-gray">N/A</span>
                    <span *ngIf="data.StateDataY == false && data.StateY == true" class="badge bg-gray">N/A</span>
                  </ng-template>
                </e-column>

              </e-columns>
            </ejs-grid>
        </div>
      </div>
    </div>
  </div>

  <!-- Organization Chart -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Organization Chart</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <ejs-treegrid
            #treegrid
            [dataSource]="dataOCC"
            childMapping="children"
            [treeColumnIndex]="1"
            [pageSettings]="pageSettings"
            [allowExcelExport]="true"
            [allowPdfExport]="true"
            [allowSorting]="true"
            [contextMenuItems]="contextMenuItems"
            [editSettings]="editing"
            (rowSelected)="rowSelected($event)"
            [searchSettings]="searchSettings"
            [toolbar]="toolbar" >
              <e-columns>
                <e-column field="levelnumber" width="100" isPrimaryKey="true" headerText="Level" [disableHtmlEncode]="false">
                </e-column>
                <e-column field="title" editType="stringedit" headerText="OC Name" [edit]="editparams" [disableHtmlEncode]="false">
                </e-column>
              </e-columns>
          </ejs-treegrid>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Performance {{title}}</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div *ngIf="isHide" class="card-body table-responsive p-0">
          <ejs-grid  #gridchart  [allowResizing]='true' [gridLines]="lines" [searchSettings]="searchSettings"  [toolbar]='toolbarOptions' [dataSource]='dataPerformance' allowPaging='true' [pageSettings]='pageSettings2' >
            <e-columns>

              <e-column field='ID' headerText='#' width='80' textAlign='Left' isPrimaryKey='true'>
                <ng-template #template let-data>
                  {{data.index}}
                </ng-template>

              </e-column>

              <e-column field='Area' headerText=''  textAlign='Left' >
                <ng-template #headerTemplate let-data>
                  <span>{{"OC2"| translate}}</span>
                </ng-template>
              </e-column>

              <e-column field='KPIName' headerText=''  textAlign='Left' >
                <ng-template #headerTemplate let-data>
                  <span>{{"KpiName" | translate}}</span>
                </ng-template>
              </e-column>

              <e-column field='' headerText='State Upload Week' textAlign='Center' >
                <ng-template #template let-data>
                  <span *ngIf="data.StateDataW == true && data.StateW == true" class="badge bg-green">on time</span>
                  <span *ngIf="data.StateDataW == true && data.StateW == false" class="badge bg-red">late</span>
                  <span *ngIf="data.StateDataW == false && data.StateW == false" class="badge bg-gray">N/A</span>
                  <span *ngIf="data.StateDataW == false && data.StateW == true" class="badge bg-gray">N/A</span>
                </ng-template>
              </e-column>

              <e-column field='' headerText='State Upload Month'  textAlign='Center' >
                <ng-template #template let-data>
                  <span *ngIf="data.StateDataM == true && data.StateM == true" class="badge bg-green">on time</span>
                  <span *ngIf="data.StateDataM == true && data.StateM == false" class="badge bg-red">late</span>
                  <span *ngIf="data.StateDataM == false && data.StateM == false" class="badge bg-gray">N/A</span>
                  <span *ngIf="data.StateDataM == false && data.StateM == true" class="badge bg-gray">N/A</span>
                </ng-template>
              </e-column>

              <e-column field='' headerText='State Upload Quarter'  textAlign='Center' >
                <ng-template #template let-data>
                  <span *ngIf="data.StateDataQ == true && data.StateQ == true" class="badge bg-green">on time</span>
                  <span *ngIf="data.StateDataQ == true && data.StateQ == false" class="badge bg-red">late</span>
                  <span *ngIf="data.StateDataQ == false && data.StateQ == false" class="badge bg-gray">N/A</span>
                  <span *ngIf="data.StateDataQ == false && data.StateQ == true" class="badge bg-gray">N/A</span>
                </ng-template>
              </e-column>

              <e-column field='' headerText='State Upload Half Year' textAlign='Center' >
                <ng-template #template let-data>
                  <span *ngIf="data.StateDataH == true && data.StateH == true" class="badge bg-green">on time</span>
                  <span *ngIf="data.StateDataH == true && data.StateH == false" class="badge bg-red">late</span>
                  <span *ngIf="data.StateDataH == false && data.StateH == false" class="badge bg-gray">N/A</span>
                  <span *ngIf="data.StateDataH == false && data.StateH == true" class="badge bg-gray">N/A</span>
                </ng-template>
              </e-column>

              <e-column field='' headerText='State Upload Year'  textAlign='Center' >
                <ng-template #template let-data>
                  <span *ngIf="data.StateDataY == true && data.StateY == true" class="badge bg-green">on time</span>
                  <span *ngIf="data.StateDataY == true && data.StateY == false" class="badge bg-red">late</span>
                  <span *ngIf="data.StateDataY == false && data.StateY == false" class="badge bg-gray">N/A</span>
                  <span *ngIf="data.StateDataY == false && data.StateY == true" class="badge bg-gray">N/A</span>
                </ng-template>
              </e-column>

            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>

  <ng-template #upload let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fa fa-plus"></i> {{'Upload' | translate}}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="box-body" id="Upload">
        <p class="text-red">
          *{{'n1' | translate}}
          <Button  (click)="downloadExcel()" class="download btn btn-sm bg-success">{{'clickhere' | translate}} </Button> {{'n2' | translate}}
        </p>
        <p >*{{'Notice2' | translate}}</p>

        <div class="form-group">
          <label for="Upload">{{'Choose_file_upload' | translate}}: </label>

          <div class="input-group">
            <input type="file" (change)="fileProgress($event)" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="submit" (click)="uploadFile()"  class="btn btn-primary"><i class="fa fa-upload"></i> {{'UploadFile'| translate}}</button>
    </div>
  </ng-template>

  <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading ...</p>
  </ngx-spinner>

</div>
